body {
  background: rgb(96, 94, 121);
  background: linear-gradient(
    90deg,
    rgba(96, 94, 121, 1) 0%,
    rgba(171, 168, 168, 1) 0%,
    rgba(208, 210, 210, 1) 0%,
    rgba(133, 143, 145, 1) 100%,
    rgba(76, 80, 83, 1) 100%
  );
}
/* Header */
.headerRow {
  border: 2px solid black;
  position: relative;
  text-align: center;
  margin: auto;
  background-color: rgb(236, 230, 230);
  top: 100px;
  height: 600px;
  width: 80%;
  left: 10%;
  box-shadow: 10px 10px 15px 15px gray;
}

.NavBar {
  position: relative;
  top: 30px;
  font-size: 20px !important;
}

.NavLink {
  position: relative;
  left: 50px;
  color: black !important;
}

.TimeNavBar {
  position: relative;
  text-align: center;
  background-color: rgb(236, 230, 230);
  border: 3px solid black;
  width: 20rem;
  margin: auto;
  left: 40rem;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 5px 10px 18px #888888;
}

.textCol {
  position: relative;
  top: 25%;
  color: #000;
  font-size: 6rem;
  height: 30%;
  width: 50%;
  font-weight: 700;
  text-align: left;
}

.textColSecond {
  position: relative;
  top: 70%;
  color: #000;
  font-size: 2rem;
  height: 30%;
  width: 70%;
  font-weight: 700;
}

.fotoDavid {
  top: 15%;
  width: 30rem;
  height: 40rem;
  position: relative;
  border: solid 5px;
  box-shadow: 5px 10px;
}

.zoom {
  padding: 50px;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Main Content */

#Main {
  position: relative;
  border: 2px solid black;
  top: 400px;
  height: 100rem;
  background-color: rgb(236, 230, 230);
  color: #000;
  width: 80%;
  left: 10%;
  box-shadow: 10px 10px 15px 15px gray;
}

.aboutMeText {
  position: relative;
  width: 40%;
  border: 5px solid black;
  box-shadow: 5px 10px black;
  left: 30%;
  top: 5rem;
  text-align: center;
  word-spacing: 10%;
}

.col{
  width: 50%;
}

.project_container{
  position: relative;
  top: 11rem;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 10rem;
}

.project_image{
  width:25rem;
  height:33rem;
  border: 5px solid black;
  transition: transform 0.3s;
}

.project_image:hover{
  transform: scale(1.1);
  box-shadow: 5px 10px 20px gray;
}

/* Footer */

.Footer {
  position: relative;
  top: 600px;
  height: 500px;
  text-align: center;
  margin: auto;
}


.mailFav {
  position: relative;
  color: black;
  top:2rem;
}

.socialFav{
  position: relative;
  top: 10rem;
  color:black;
  width:70px;
}

.Jahr {
  position: relative;
  margin: auto;
  text-align: center;
  top: 40%;
  opacity: 50%;
}
